<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.map"></script> -->
	<script src="/js/vue-social-sharing.js"></script>

</head>
<body>
	<header>
		<img src="/images/roku.svg" alt="Roku logo" width="90"><a href="/"><img id="logo" src="/images/Flashback.png" alt="Flashback" width="130"></a>
		<nav>
			<ul>
				{{#if mainpage}}
				<li><a href="/kids">Kids</a></li>
				{{/if}}
				<li><a href="/parents"><i class="fas fa-user-circle"></i></a></li>
			</ul>
		</nav>
	</header>

	<main>
		{{{ body }}}
	</main>

	<footer id="foot">
		<!-- <social-sharing url="https://vuejs.org/"
		                      title="The Progressive JavaScript Framework"
		                      description="Intuitive, Fast and Composable MVVM for building interactive interfaces."
		                      quote="Vue is a progressive framework for building user interfaces."
		                      hashtags="vuejs,javascript,framework"
		                      twitter-user="vuejs"
		                      :networks="overriddenNetworks"
		                      v-cloak inline-template> -->

		<span>All Rights are Reserved</span>
		<p class="copy">
			&copy; 2018 The Awesome Company, Inc
		</p>

		<ul>
			<li>
				<network network="facebook" id="facebook">
					<i class="fab fa-facebook"></i>
				</network>
			</li>
			<li>
				<network network="twitter" id="twitter">
					<i class="fab fa-twitter-square"></i>
				</network>
			</li>
			<li>
				<network network="googleplus" id="googleplus">
					<i class="fab fa-google-plus-square"></i>
				</network>
			</li>
			<li>
				<network network="instagram" id="instagram"><!-- made up -->
					<i class="fab fa-instagram"></i>
				</network>
			</li>
		</ul>
	</footer>
	<script>

	Vue.use(SocialSharing);
	      Vue.use(SocialSharing);
	      new Vue({
	        el: '#foot',
	        data: {
	          overriddenNetworks: {
	            "test": {
	              "sharer": "https://google.com",
	              "type": "popup"
	            },
	          }
	        }
	      });
	</script>

	<!-- <script type="text/javascript">
	Vue.$root.$on('social_shares_open', function (network, url) {
// your event code
});
	</script> -->
  <script>
    var appData = {
      movies : {{{ data }}} // grab the unfiltered result set
    }
  </script>
  {{#if mainpage}}
  <script src="/js/main.js"></script>
	{{/if}}

	{{#if videopage}}
	<script src="/js/videopage.js">
	</script>
	{{/if}}
	{{#if kids}}
	<script src="/js/kidpage.js">
	</script>
	{{/if}}
	{{#if parents}}
	<script src="/js/parentpage.js">
	</script>
	{{/if}}
	{{#if movies}}
	<script src="/js/movpage.js">
	</script>
	{{/if}}
</body>
</html>
